.index :global .frame-view-content {
  padding: 20px;
  font-size: 36px;
}

.index :global .frame-view-content h1 {
  font-size: 42px;
}

.index :global .frame-view-content .userCard {
  margin: 20px 0 50px 0;
}
