.index :global .frame-view-content .adm-list-item-content-main {
  color: #131313;
  font-size: 35px;
  font-family: Gilroy-Bold;
}

.index :global .frame-view-content .adm-list-item-description {
  color: #2675EC;
  font-family: Gilroy-Light;
}
