.index {
    :global {
        .frame-view-content {
            .adm-list {
                --border-inner: 0px;
            }
            .adm-list-item-content-main {
                color: #131313;
                font-size: 35px;
                font-family: Gilroy-Bold;
            }
            .adm-list-item-description {
                color: #2675ec;
                font-family: Gilroy-Light;
            }
        }
    }
}
